@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #081b29; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Intro {
  margin-top: 30vh;
}

.image {
  border-radius: 58% 42% 71% 29% / 31% 14% 86% 69%;
}

.header {
  background: #081b29;
}

.header-navbar {
  /* flex flex-row justify-between mx-4 bg-transparent */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}

.header-logo {
  /* text-white font-serif font-bold my-4  */
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-navbar nav {
  /*  md:flex space-x-4  items-center justify-center border border-black-500 border-solid  bg-gray-500 hover:bg-slate-900 hover:text-white  */
  width: 33.333333%;
  margin-top: 0.25rem /* 4px */;
  margin-bottom: 0.25rem /* 4px */;
  border: solid black 1px;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
}

.header-navbar nav:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (max-width: 768px) {
  .header-navbar nav {
    display: none;
  }
}

.header-toogle {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-right: 0.5rem /* 8px */;
}

.toogle {
  width: 2.75rem /* 44px */;
  height: 2.75rem /* 44px */;
  display: none;
}
@media (max-width: 768px) {
  .toogle {
    display: block;
  }
}

.header-navbar li {
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
.header-navbar li:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.header-navbar ul {
  display: flex;
  justify-content: space-between;
  margin-left: 0.75rem /* 12px */;
  margin-right: 0.75rem /* 12px */;
  cursor: pointer;
  box-sizing: border-box;
}

/* Intro Css */

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  background: #081b29;
}

@media (max-width: 768px) {
  .intro {
    margin-top: 80px;
  }
}

.intro p {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 60%;
  padding: 16px;
  margin-left: 40px;
}

@media (max-width: 786px) {
  .intro-container {
    width: 100%;
    margin: 0;
  }
}

.intro-name {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.intro-designation {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.profile-image {
  padding-left: 2.25rem /* 36px */;
  padding-right: 2.25rem /* 36px */;
  padding-top: 3rem /* 48px */;
  padding-bottom: 3rem /* 48px */;
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 786px) {
  .profile-image {
    margin: 0%;
    padding: 0%;
  }
}

.profile-image img {
  padding: 2rem;
  margin: 1.5rem;
  width: 300px;
  height: 300px;
}

/* Education css */

.education {
  padding: 50vh;
}
